/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container:after {
    content: "";
    display: table;
    clear:both;
}


input[type=text], input[type=search], input[type=email], input[type=password] {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    border-radius:4px;
    color: rgba(0,0,0,0.8);
}

input[type=submit], .button {
    text-align: center;
    display: block;
    padding: 0px 35px;
    margin: 0px 0px 4px;
    line-height: 47px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    clear:both;
}


a {
    color: #cb3837;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing:-0.03em;
}

body>nav {
    height: 38px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    background: #cb3837;
    border-bottom:1px solid #b83130;
    overflow: hidden;
    padding-left: 20px;
}

body>nav a {
    display: inline-block;
    line-height: 38px;
    padding: 0px 10px;
    margin: 0;
    color: rgba(255,255,255, 0.8);
    text-decoration: none;
    background: #cb3837;
    transition: all 0.1s;
}


body>nav a:first-child {
    float: left;
    padding: 0;
    text-transform: lowercase;
    display: inline-block;
    min-width: 240px;
    text-align: left;
}

body>nav a:hover {
    background: #a42b2b;
    color: #fff;
}

body>nav a:first-child:hover {
    background: none;
    border: none;
    text-decoration: none;
}

body>header {
    padding: 14px 20px 10px;
    border-bottom: 1px solid #d3d3d3;
    background: hsla(0, 0%, 0%, 0.08);
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}

body>header>* {
    flex: 0 0 auto;
}

#npm-logo {
    order: 1;
}

#npm-logo img {
    vertical-align: middle;
    width: 125px;
    height: 49px;
}

#user-info {
    order: 3;
}

#user-info img {
    float: right;
    display: block;
    width: 45px;
    margin: 0px 0px 0px 10px;
    border-radius: 2px;
}

#user-info ul {
    float: right;
    display: block;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

#user-info ul.single {
    margin-top: 0;
}

#user-info ul.single li {
    line-height:45px;
    vertical-align: top;
}

#npm-search {
    position: relative;
    height: 47px;
    padding:0;
    margin: 0 1em;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    background: #fff;
    text-align: left;
    flex:1 0 auto;
    order:2;
}

#npm-search:hover {
    border: 1px solid rgba(0,0,0,0.4);
}

#site-search-container {
    margin: 7px 80px 0px 7px;
}

#site-search {
    background: none;
    border: 0;
    font-size: 18px;
    font-weight: 300;
    height: 30px;
    margin: 0;
    padding: 0 2px 0 0;
    outline: 0;
}

#site-search-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 47px;
    width: 46px;
    border: 0;
    text-indent:-9999em;
    cursor: pointer;
    outline: 0;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-radius: 0 2px 2px 0;
    background: url('../img/ico-search.svg') no-repeat 50% 50%;
    background-size: 16px 16px;
}

#site-search-submit:hover {
    border: 1px solid #ae2e2d;
    border-bottom: none;
    background: #cb3837 url('../img/ico-search-hover.svg') no-repeat 50% 50%;
    background-size: 16px 16px;
    color: #fff;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
